*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #254159;
}
body{
    font-size: 1.6rem;
    background-color: #f5f5f5;
}


.main-container{
        display: block;
        max-width: 1198px;
        margin: 0 auto;
        padding: 20px;
}
.container{
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: 0px;
    max-width: 1198px;
}
header{
    display: block;
    background: #ffffff;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 0.1em solid #254159;

}
h1{
    font-size: 2.4rem;
    color: #254159;
}
h2{
    font-size: 2rem;
    color: #254159;
}
h3{
    font-size: 1.8rem;
    color: #254159;
}
h4{
    color: #385874;
    font-size: 1.6rem;
}
section{
    display: block;
    float: left;
    width: 100%;
    background-color: white;
 


}
nav{
    display: block;
    float: left;
    width: 30%;
    background-color: #efefef;
    margin: 5px 20px 5px 0px;
    line-height: 1.5em;

 /*   min-width: 150px;
 */
}
article{
    display: block;
    float: left;
    width: 70%;
    line-height: 1.5em;

   /* min-width: 350px;
    font-size: 1.5rem; */
}
p{
    margin-bottom: 1.4rem;
}
a{
    text-decoration: none;
    color: #254159;
}
a:hover{
    color: #385874;
}
li{
    padding-left: 0.5em;
    border-bottom: 0.1em solid white;
}
#banner{
    width: 100%;
    max-width: 700px;
    align-items: center;
}
h2, h3, h4{
    margin-top: 1em;
    margin-bottom: 1em;
}
.lista{
    padding-left: 1em;
}
ol li{
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.interesse{
    margin: 0 0 0 0;
    float: left;
    display: block;
    padding: 20px;
    width: 100%;
    background-color: #cfcccc;

    
}
.formulario{
    margin: 20px;
    max-width: 600px;
    letter-spacing: 0.5px;
    background-color: white;
    padding: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}
input{
    width: 100%;
    padding: 1rem;
}
#botao{
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-weight: 500;
}
footer{
    margin: none;
    padding: 20px;
    background-color: #254159;
    color: white;
    float: left;
    width: 100%;
}
nav li:hover{
    background-color: #dfdfdf;

}

footer small{
    display: block;
    font-size: 80%;

}
@media (max-width: 450px){
    article{
        width: 100%;
    }
    .formulario{
        margin: 0 0 0 0;
    }

}
